<%- include('../shared/head', { pageTitle: 'LOGIN'}) %>
</head>
<body>
    <%- include('../shared/header') %>
    <main>
      <div class="auth-main flex justify-around bg-gray-100 p-8 rounded-lg">
        <!-- Login Form Section -->
        <section class="login-form w-full md:w-1/2 flex flex-col space-y-6 p-8">
          <% if (inputData.errorMessage) { %>
            <section class="alert mb-4 p-4 bg-red-100 text-red-600 rounded-lg">
                <h2 class="font-semibold">Invalid Credentials</h2>
                <p><%= inputData.errorMessage %></p>
            </section>
          <% } %>
          
          <form action="/login" method="POST" class="flex flex-col space-y-4">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <h2 class="login-label text-center text-2xl mb-6">Welcome Back</h2>
            
            <label for="email" class="text-sm">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
              value="<%= inputData.email %>"
              required
              class="w-full p-3 border border-gray-300 rounded-md text-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-200"
            />
            
            <label for="password" class="text-sm">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="********"
              value="<%= inputData.password %>"
              required
              class="w-full p-3 border border-gray-300 rounded-md text-sm focus:border-blue-500 focus:ring-1 focus:ring-blue-200"
            />
            
            <button type="submit" class="w-full p-3 bg-black text-white rounded-lg text-sm hover:bg-gray-700">
              Sign In
            </button>
            
            <p class="text-center text-sm">
              Don't have an account? 
              <a href="signup" class="text-black hover:underline">
                <strong>Sign Up</strong>
              </a>
            </p>
          </form>
        </section>
      
        <!-- Image Section (Hidden on Mobile) -->
        <section class="login-img p-4 hidden md:block w-1/2 flex justify-center items-center">
          <img src="/media/camera.jpg" alt="camera" class="rounded-lg w-[500px] h-[500px] object-cover"/>
        </section>
      </div>
      
      <%- include('../shared/bookings') %>
    </main>
    <%- include('../shared/footer') %>